@import "identity";

.wrapper{
    position: absolute;
    top: 0;
    left: 0;

    background: #000c;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    z-index: 1;

    color: $secondary;

    h3{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    p{
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    button{
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        background-color: $secondary;
        border: none;
        border-radius: 5px;

        &:focus{
            outline: none;
        }

        &:hover{
            filter: brightness(90%);
        }
    }
}