.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 70%;

    h3{
        font-size: 1.4rem;
    }

    hr{
        border: none;
        border-top: 1px solid #ccc;
        padding: 4px 0;
        margin-top: 4px;
    }

    p{
        font-size: 1.1rem;
        color: #0008;
        font-weight: 500;
    }
}
