@import "../identity";

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1{
        border-bottom: 2px solid $primary;
    }

    .faq{
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2{
            border-bottom: 1px solid #0002;
            font-size: 1.2em;
        }
        p {
            font-size: 1em;
            font-weight: 500;
            color: #0008;
        }

    }

    button{
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: $primary;
        color: #fff;
        font-size: 1em;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-bottom: 10px;
    }
}