@import "../identity";

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
    .title{
        margin-bottom: 1rem;
        border-bottom: 2px solid $primary;
        width: 100%;
        position: relative;

        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 50%;
            margin: auto;

            img{
                width: 100%;
                object-fit: contain;
            }
        }
        
        h1{
            font-size: 1.5rem;
            text-align: center;
        }
    }
    
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .formGroup{

            display: flex;
            flex-direction: column;

            margin-bottom: 10px;

            label{
                font-size: 1rem;
                margin-bottom: 0.5rem;
                font-weight: 500;
                pointer-events: none;
            }

            input{
                width: 100%;
                padding: 0.5rem;
                font-size: 1rem;
                background-color: $secondary;
                border: none;
                border-radius: 5px;

                &:focus{
                    outline: none;
                }

                &:hover{
                    filter: brightness(95%);
                }
            }

            .error{
                font-size: 0.8rem;
                color: red;
                margin: 4px;
                text-align: center;
                font-style: italic;
            }

            button{
                width: 100%;
                padding: 0.5rem;
                font-size: 1rem;
                background-color: $primary;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover{
                    filter: brightness(90%);
                }

                &:active{
                    filter: brightness(80%);
                }

                &:focus{
                    outline: none;
                }
            }

        }
    }
    .lang{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;

        select{
            padding: 0.5rem;
            font-size: 1rem;
            background-color: $secondary;
            border: none;
            border-radius: 5px;
            font-style: italic;

            option{
                font-style: italic;
                padding: 4px 6px;
            }
        }
    }

    .hint{
        font-size: 0.8rem;
        margin-top: 1rem;
        color: #000;
        text-align: center;
        font-style: italic;
        color: #0006;
    }
}